body {
    background-color: #008CBA;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form {
    margin-top: 10px;
}

li {
    font-size: 25px;
}

footer {
    height: 100px;
}

.titleComments {
    font-size: 30px;
    font-weight: bold;
}

.titleMain {
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 70px;
    font-weight: bold;
}

.imageDiv{
    margin-bottom: 20px;
  }

.image {
    height: 300px;
    width: 452px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    display: block;
    opacity: 1;
    transition: .5s ease;
}

.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
}
  
.overlay {
    opacity: 0;
  }

.notHidden {
    visibility: hidden;
}
  
.image-text {
color: white;
font-size: 20px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
}

.commentImage {
    margin: auto;
}

.imgInfo {
    margin-top: 10px;
    font-size: 20px;
}

.commentImage {
    margin-bottom: 10px;
}

.commentsClick {
    color: #4CD3FF;
}

.commentsClick:hover {
    color: #2C6B7F;
    text-decoration: underline;
}

.fa-thumbs-up {
    font-size: 20px;
}

.btn-info {
    background-color: #00C0FF;
}

#backBtn {
    text-decoration: underline;
}

#backBtn:hover {
    color: rgb(221, 215, 215);
}
